body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.quadrado{
             width: 0;
            height: 0;
            background-color: red;
            animation: aparecer 4s linear infinite;
}
@keyframes aparecer {
    0% {
        width: 0; 
        height: 0; 
        background-color: red; 
    }
    50% {
        width: 200px; 
        height: 200px; 
        background-color: blue;
    }

    100% {
        width: 200px; 
        height: 200px; 
        background-color: green;
    }
}