.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%; 
    position: relative;
    animation: kik 2s ease infinite;
}

@keyframes kik {
    0% {
        top: 30%; 
        left: 0;
        animation-timing-function: ease-out;
    }
    25% {
        top: 0;
        transform: translateY(-100px);
        animation-timing-function: ease-in;
    }
    50% {
        top: 30%; 
        left: calc(50% - 50px); 
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    75% {
        top: 0;
        transform: translateY(-100px);
        animation-timing-function: ease-in;
    }
    100% {
        top: 30%; 
        left: 0;
        animation-timing-function: ease-out;
    }
}


