body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo{
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.7s ease;
    animation: moverdireita 4s linear infinite;
    
}
.circulo:hover{
    background-color: blue;
}

@keyframes moverdireita {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(500px);
    }
}